.top-bar {
  height: 64px;
  background-color: navy;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}

.logo {
  width: 100px;
  text-decoration: none;
  color: white;
}
.items {
  display: flex;
  justify-content: space-between;
}

