@media (min-width: 450px) {
  .restaurant {
    display: flex;
  }

  img {
    width: 50% !important;
    margin-right: 1em;
  }

  .brand {
    margin-top: 0;
    margin-bottom: 0;
  }
}

img {
  width: 100%;
}


.details > *{
  margin-bottom: 0.5em;
}
