<div *ngIf="restaurant" class="restaurant">
  <img [src]="img" alt="Avatar">
  <div class="details">
    <h1 class="brand">{{restaurant.Brand}}</h1>
    <div><b>Style: </b><span>{{restaurant.Style}}</span></div>
    <div><b>Country: </b><span>{{restaurant.Country}}</span></div>
    <div><b>Rating: </b><span>
        <app-rating [rating]="restaurant.Stars"></app-rating>
      </span></div>
    <div *ngIf="restaurant.TopTen !== 'NaN'"><b>TopTen: </b><span>{{restaurant.TopTen}}</span></div>
  </div>
</div>
